# VibeFlow Configuration
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/vibeflow_db
# Or MongoDB Atlas URI:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/vibeflow_db?retryWrites=true&w=majority
JWT_SECRET=vibeflow_super_secret_jwt_key_2026
NODE_ENV=development
